#header-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem 10px;
  }
  
  #logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  #header-logo-img {
    width: 100%;
    max-width: 250px;
    height: 52px;
  }
  
  .icon-text {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  #total-field-container span {
    white-space: nowrap;
    color: rgba(0, 59, 229, 1);
    font-size: 1em;
  }
  
  #email-field-container span,
  #email-field-container i {
    color: #2fc18c;
  }
  
  #email-field-container span {
    font-size: 1.1em;
  }
  
  #email-field-container i {
    font-size: 1.6em;
  }
  
  @media screen and (min-width: 768px) {
    #header-container span {
      font-size: 1.2em;
    }
  
    #email-field-container {
      align-items: center;
    }
  }
  
  @media screen and (min-width: 992px) {
    #header-container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    #logo-container {
      margin-bottom: 0;
    }
  
    #total-field-container span,
    #email-field-container span {
      font-size: 1.3em;
    }
  
    #email-field-container i {
      font-size: 1.5em;
    }
  }

  @media screen and (min-width: 1200px) {
    #header-container {
      max-width: 90%;
    }
    
  }
  