/* stylelint-disable linebreaks */
.input-password-wrapper {
  position: relative;
}

.input-password-wrapper i {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}
