html, body,  #root{
  margin: 0;
  padding: 0;
  height: 100%;
}

@media screen and (min-width: 992px) {
  html, body,  #root{
    overflow: hidden;
  }
}

body {
  background-image: url('./images/wallet_backgroud.png');
  background-color: rgb(47, 193, 140);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}